* {
  box-sizing: border-box; /* Allow the box size specified with border and padding inclusive */
  margin: 0;              /* Reset the browser's default value */
  padding: 0;             /* Reset the browser's default value */
}

/* Base font size to which the rem refers to */
html {
  font-size: 16px;
}

/* Base font family */
body {
  color: #204056; /* Same as CodeCademy's logo */
  font-family: 'Roboto', sans-serif;
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0.5rem 0;
  text-align: right;
}

p {
  font-size: 1rem;
  padding: 0.2rem 0;
  text-align: right;
}

.logo {
  height: 1.4rem;
}

/* Make sure the image size is set by its container. */
figure {
  overflow: hidden;
}

/* Make the image responsive */
figure img {
  width: 100%; /* So that the image scales with the figure element */
}

/* Media queries */
@media only screen and (max-width: 480px) {

}
