* {
  box-sizing: border-box; /* Allow the box size specified with border and padding inclusive */
  margin: 0;              /* Reset the browser's default value */
  padding: 0;             /* Reset the browser's default value */
}

/* Base font size to which the rem refers to */
html {
  font-size: 16px;
}

/* Base font family */
body {
  color: #204056; /* Same as CodeCademy's logo */
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.4rem 1.5rem;
  /* Side margins, larger than 1rem space between works, which makes works look related to each other as produced by the same cohort of students */
  /* Top margin is slightly smaller than 1.5rem to make it look 1.5rem. The title text adds a small space above the text. */
}

.header__title {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  text-align: right;
}

.header__subtitle {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  text-align: right;
}

.header__subtitle--second {
  padding-bottom: 0; /* Space above the exhibition section is regulated by .exhibition */
}

.logo {
  height: 1.4rem; /* So the rectangular box in the logo looks as high as the x-height of "Student Exhibition" */
}

.exhibition {
  margin-top: 1rem; /* To be connected to the title */
}

.exhibition__work {
  color: inherit;
  display: block;
  margin-bottom: 1rem; /* To allow enough vertical space between works while keeping them integrated (because the space is narrower than side margins of 1.5rem) */
  text-decoration: none;
}

/* Make sure the image size is set by its container. */
.thumbnail {
  overflow: hidden;
}

/* Make the image responsive */
.thumbnail__image {
  border: 1px solid rgb(240,240,240);
  display: block;
  max-width: 100%
}

.thumbnail__name {
  padding-top: 0.5rem; /* To insert some space below the image, but not too large to make the name look separated from the image. */
  text-align: right;
}

/* Tablets */
@media only screen and (min-width: 600px) {
  .exhibition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .exhibition__work {
    width: calc((100% - 1rem) / 2); /* To create 1rem space between two works side by side */
  }
}

/* Desktops */
@media only screen and (min-width: 1000px) {
  .exhibition__work {
    width: calc((100% - 2rem) / 3); /* To create 1rem space between any pair of works side by side */
  }
}
